/* ***************************************************************
    Aquí, todos los estilos necesarios para realizar el ejercicio
**************************************************************** */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&display=swap');

body{
    font-size: 14px;
    margin: 0px;
    color: #3f3f3f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, p{
    margin:0;
 }

 h3{
    padding: 15px;
 }
 
header, footer{
    text-align: center;
    font-family: "Boldonse", sans-serif; 
    font-size: 1.5em;
    background-color: #c79029;
    color: white;
    padding:25px;
    text-shadow: 5px 4px 4px black;

 }
main{
    background-color: #E9E9E9;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}


section{
    background-color:#FFA909;
    color: #FFFFFF;
    font-family: "Bebas Neue", sans-serif; 
    font-size: 1.5em;
    padding:10px;
    text-shadow: 5px 4px 4px black
}
article{
    background-color: #ffffff;
    margin-bottom: 15px;
    font-size: 1.2em;
}
article p{
    padding-left:15px;

}

.fondo{
    width:80%;
    height: 150px;
    margin: 15px auto;
    border: 1px solid gray

}
.container1{
    padding:20px;
    background-color: rgb(176, 211, 119);
    margin-bottom: 15px;
}

.container2{
    width: 450px;
    padding:20px;
    border: 2px solid gray;
    margin: 0 auto;

}

.content-display{
    margin: 0 auto;
    background:#b9bffc;
    padding:12px;
}

.caja-sombra h2{
    font-family: "Boldonse", sans-serif;
    text-align: center;
    background-color: #495f1f;
    margin:0;
    color: #9bb962;
    padding-bottom: 10px;
    border-radius: 15px 15px 0 0;
    

}
/* *****************************************************
        Ejercicio 15
        B O X - S I Z I N G
****************************************************** */
/* Identifique las propiedades que hacen que el elemento crezca más allá de su tamaño original y utilice la propiedad box-sizing para controlarlo */

.box1{
    width: 400px;
    height: 100px;
    margin:12px;
    border:6px solid gray;
    padding: 22px;
    box-sizing: border-box;
}
.box2{
    width:100%;
    height: 80px;
    padding:40px;
    border:10px solid coral;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.box3{
    width:100%;
    height: 80px;;
    border:12px solid rgb(6, 155, 201);
    padding:18px;
    background-color: #f3edba;
    box-sizing: border-box;

}
.box4{
    width:100%;
    height: 100px;
    border:28px solid rgb(201, 6, 87);
    background-color: #46cbf3;
    margin-left: 10px;
    box-sizing: border-box;
}

/* *****************************************************
        O V E R F L O W
****************************************************** */

    .oflow1{
        width:350px;
        height:250px;
        margin: 0 auto 15px;
        border: 5px solid crimson;
        padding:12px;
        font-size:2em;
        overflow: auto;

    }

    .oflow2{
        width:350px;
        height:250px;
        margin: 0 auto 15px;
        border: 5px solid rgb(143, 220, 20);
        overflow: hidden;

    }

    .oflow3{
        width:350px;
        height:250px;
        margin: 0 auto 15px;
        border: 5px solid rgb(20, 130, 220);
        overflow-y: scroll;

    }

/* *****************************************************
        B A C K G R O U N D
****************************************************** */
/* Agregue la propiedad "background" para colocar el color de fondo degradado que se solicita según la muestra presentada*/
.verde-amarillo{
    background: linear-gradient(to right,#8eb93d , #ffe600);
}

.rosa-azul{
    background: linear-gradient(to bottom,#eb40dc ,#46cbf3);

}

.azul-turquesa{
    background: linear-gradient(45deg, #022a50, #11bbb2);
   

}
.celeste-amarillo{
    background: radial-gradient(#f3edba ,#00c3dd);
}

.morado-violeta{
    background: conic-gradient(#f3edba ,#00c3dd);
}

/* *****************************************************
        D I S P L A Y
****************************************************** */
.box-inline{ /* Agregue la propiedad "display" con el valor inline-block para lograr que las cajas se alineen horizontalmente*/
    width: 150px;
    border:1px solid black;
    background-color: white;
    padding:10px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 15px;
    /*Agregue la propiedad box-sizing para que las cajas conserven su tamaño original*/
    /*Agregue un margen inferior de 15px*/
}

.box-inline2{ /* Agregue la propiedad "display" con el valor inline-block para lograr que las cajas se alineen horizontalmente*/
    width: 45%;
    border: 1px solid rgb(124, 124, 124);
    background-color: rgb(255, 221, 221);
    padding:10px;

    display: inline-block;
    box-sizing: border-box;
    margin-right: 15px;
    /*Agregue la propiedad box-sizing para que las cajas conserven su tamaño original*/
    /*Agregue un margen a la derecha de 25px*/

}

/* ************************************************************
        B O X - S H A D O W
************************************************************* */

.caja-sombra{/*Agregue la propiedad box-shadow para aplicar una sombra según el modelo presentado en la consigna */
    width: 180px;
    border:1px solid gray;
    margin: 0 15px 15px 15px;

    box-shadow: 5px 5px 5px gray;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    display: inline-block;
    /*Agregue la propiedad border-radius igual al que tiene el H2, para redondear los bordes superiores de la caja, según el modelo presentado en la consigna */
    
    /*Agregue la propiedad "display" con el valor inline-block para lograr que las cajas se alineen horizontalmente*/

}