@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&display=swap');

/* ***************************************************************
    Aquí, todos los estilos necesarios para estructurar el 
    documento, egún consigna
**************************************************************** */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #3f3f3f;
    background-color: #c79029;
}

h1 p{
    margin: 0px;
}

h3{
    padding: 15px;
}

header,footer{
    font-family: "Boldonse";
    font-size: 1.5em;
    background-color: #c79029;
    color: #ffffff;
    padding: 25px;
    text-align: center;
    text-shadow: 5px 4px 6px black;
    
}

main{
    background-color: #e9e9e9;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

section{
    background-color: #ffa909;
    color: #ffffff;
    font-size: 1.5em;
    padding: 15px;
    text-shadow: 7px 4px 5px black;

    font-family:"Bebas Neue" ;

}

article{
    background-color: #ffffff;
    margin-bottom: 15px;
    font-size: 1.2em;
    padding: 0;
}

/* *****************************************************
Agregar a estos estilos, los márgenes solicitados
margin-top, margin-right, margin-bottom y margin-left
****************************************************** */

.m-top30{
    border: 1px solid gray;
    margin-top: 30px;

}
.m-suiz30{
    border: 1px solid gray;
    margin:  30px 0 0 30%;

}
.m-iniz{
    border: 1px solid gray;
    margin: 0 0 35px 5em;

}
.m-deiniz{
    border: 1px solid gray;
    margin:0 25% 8px 0 ;

}
.m-cent{
    border: 1px solid gray;
    width: 50%;
    margin: 0 auto;

}
.m-full{
    border: 1px solid gray;
    width: 50%;
    margin: 12px 30% 15px 4em;

}

/* *****************************************************
Agregar a estos estilos, los márgenes solicitados
márgenes abreviados en 1, 2, 3 y 4 valores
****************************************************** */

.m-un-valor{ /* Agregue la propiedad margin de un solo valor para definir el margen a los cuatro lados */
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(231, 150, 181);
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 30px;

}
.m-dos-valores{ /* Agregue la propiedad margin abreviada de 2 valores para definir el margen arriba y abajo, izquierda y derecha*/
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(231, 209, 150);
    margin: 0 45px;

}

.m-tres-valores{ /* Agregue la propiedad margin abreviada de 3 valores para definir el margen arriba, izquierda-derecha y abajo*/
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(150, 231, 193);
    margin: 15px 130px 5px;
 
}

.m-centrar{
    width: 350px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(255, 249, 164);
    margin: 0 auto;

}

.m-cuatro-valores{ /* Agregue la propiedad margin abreviada de 4 valores para definir el margen arriba, izquierda, derecha y abajo*/
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(150, 195, 231);
    margin: 2em 4em 25px 30%
}

/* *****************************************************
Padding abreviados en 1, 2, 3 y 4 valores
****************************************************** */

.p-un-valor{ /* Agregue la propiedad padding con un solo valor para definir el padding a los cuatro lados */
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(231, 150, 181);
    padding: 70px;
    margin-bottom: 20px;



}
.p-dos-valores{ /* Agregue la propiedad padding abreviada de 2 valores para definir el padding arriba y abajo, izquierda y derecha*/
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(231, 209, 150);

    padding: 3em 0;
    margin-bottom: 20px;


}
.p-tres-valores{ /* Agregue la propiedad padding abreviada de 3 valores para definir el padding arriba, izquierda-derecha y abajo*/
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(150, 231, 193);

    padding: 25px 5em 100px;

}
.p-cuatro-valores{ /* Agregue la propiedad padding abreviada de 4 valores para definir el padding arriba, izquierda, derecha y abajo*/
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color:rgb(150, 195, 231);

    padding: 1.5em 12px 170px 25%;
    margin-top: 20px;

}

/* *****************************************************
    BORDER
****************************************************** */


.border-1{
    border: 4px solid red;
    padding: 10px 0px;
    margin-bottom: 20px;

}

.border-2{
    border-top:1em dotted blue ;
    border-bottom:1em dotted blue ;
    padding: 0 15px;
    margin-bottom: 20px;

}

.border-3{
    border-left: 1em double orange;
    border-right: 1em double orange;
    padding: 15px;
    margin-bottom: 20px;
}

.border-4{
    border-left: 15px groove green;
    border-right: 15px groove green;
    border-top: 15px groove blueviolet;
    border-bottom: 15px groove blueviolet;

    padding: 15px;
    margin-bottom: 20px;
}

/*.border-5{
}*/ /*lo comento por en la consignas no vi algo relacionado a esta clase y tampoco vi que afectara algo al archivo*/


.border-cat{
    border: 1em ridge coral;
    box-sizing: border-box;
    border-radius: 50%;
}

/* ****************************************************
    Max-Width - Min-width
****************************************************** */

.container{
    text-align: center;
}

.cat{
    max-width: 600px;
    min-width: 350px;
}



/* ****************************************************
   Border-Radius
****************************************************** */

/*.ta-right{

}*/ /*lo comento por en la consignas no vi algo relacionado a esta clase y tampoco vi que afectara algo al archivo*/

.b-radius1{
    border: 6px solid red;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;

}

.b-radius2{
    border: 10px solid deepskyblue;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 20px;

}

.b-radius3{
    border: 13px double #72b41e;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 20px;


}

.b-radius4{
    border: 6px dotted #a008a8;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-bottom: 20px;
}